{%extends 'accounts/base.html'%} {%block title%}Password Reset {%endblock%}
{%block content%}
<div class="container mt-3">
  <div id="alert-box"></div>
  <div id="password-container">
    <div id="form-wrapper">
      <form id="form">
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" required class="form-control" id="password1" />
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label"
            >Password Confirmation</label
          >
          <input type="password" required class="form-control" id="password2" />
        </div>
        <button type="submit" id="submit" class="btn btn-outline-primary">
          Reset
        </button>
      </form>
      <a href="{%url 'api:passwordResetSuccess'%}">Success</a>
    </div>
  </div>
</div>

{%endblock%} {%block javascript%}
<script type="text/javascript">
  var form = document.getElementById("form-wrapper");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("Form submitted");
    password1 = document.getElementById("password1").value;
    console.log(password1);
    password2 = document.getElementById("password2").value;
    uidb64 = "{{uidb64}}";
    token = "{{token}}";
    var url = "{%url 'api:password-reset-complete-list'%}";
    fetch(url, {
      method: "POST",
      body: JSON.stringify({
        password: password1,
        password_confirmation: password2,
        uidb64: uidb64,
        token: token,
      }),
      headers: {
        "Content-Type": "application/json",
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
    })
      .then((response) => response.json())
      .then(function (data) {
        if (data["success"]) {
          handleAlerts("success", data["success"]);
          location.href = "{%url 'api:passwordResetSuccess'%}";
        } else {
          handleAlerts("warning", data["detail"]);
        }
      });
  });
  // Alert Handlers
  var alertBox = document.getElementById("alert-box");
  var handleAlerts = (type, msg) => {
    alertBox.innerHTML = `
      <div class="alert alert-${type}" role="alert">
      ${msg}
        </div>`;
    setTimeout(function () {
      alertBox.remove();
    }, 5000);
  };
</script>
{%endblock%}
